@import "global";
@import "variables";

header {
    font-size: 18px;
    background-color: $pale-cyan;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 2em;
    .logo {
        width: 30%;
    }

    button {
        @extend .btn;
        background-color: white;
        color: $dark-cyan;
        font-weight: 700;
        padding: .7% 3%;
        font-family: $op-sans;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: $desktop-width) {
    header {
        font-size: 18px;
        background-color: $pale-cyan;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.2em;
    
        .logo {
            width: 15%;
        }
    }
}