// Responsive

$mobile-width: "375px";
$desktop-width: "1440px";

//Colors

$pink: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

//Fonts

$poppins: 'Poppins', sans-serif;
$op-sans: 'Open Sans', sans-serif;
